.has-error.has-feedback:after{
  content: '' !important;
}
.ant-form-item-required:before{
  content: ''!important;
}
.ant-form-item-label label:after{
  content: ''!important;
}
.has-success.has-feedback:after{
  content: ''!important;
}
.dis_in{
  display: inline-block!important;
}
.ant-form-item-label{
  text-align: left!important;
}
.ant-input,.ant-select-selection{
  border-radius: 0!important;
}
