.show{
  display: block;
}
.hide{
  display: none;
}

label[for='debt_amount']{
  font-size: 16px;
  color:#223976
}
.ant-input-group-addon{
  width: 70px;
}
.ant-radio-group-large .ant-radio-button-wrapper{line-height: 20px;}