.show{
  display: block;
}
.hide{
  display: none;
}
.at{
  background: #ffffff;
  color: #223976;
}



.ant-radio-button-wrapper{
  margin: 0;
  height: 28px;
  line-height: 26px;
  color: #cccccc;
  display: inline-block;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
  border: 1px solid #d9d9d9;
  border-left: 0;
  background: #fff;
  padding: 0 16px;
}
.ant-radio-button-wrapper-checked{
  color: #223976;
}
.ant-radio-button-wrapper-checked：hover{

}
.ant-modal-body{
  padding:0;
}
.has-error.has-feedback:after{
  content: '' !important;
}
.ant-form-item-required:before{
  content: ''!important;
}
.ant-form-item-label label:after{
  content: ''!important;
}
.has-success.has-feedback:after{
  content: ''!important;
}
.dis_in{
  display: inline-block!important;
}
.ant-form-item-label{
  text-align: left!important;
}
.ant-input,.ant-select-selection{
  border-radius: 0!important;
}
