/*.ant-form-item{*/
  /*width: 50%;*/
  /*float: left;*/
/*}*/

/*.ant-input-lg{*/
  /*width: 240px;*/
/*}*/
/*.ant-form-item-label{*/
  /*text-align: right;*/
/*}*/
/*.ant-btn-lg{*/
  /*margin: 40px 122%;*/
/*}*/
.has-error.has-feedback:after{
  content: ''
}
.ant-form-item-required:before{
  content: '';
}
.ant-form-item-label label:after{
  content: '';
}
.has-success.has-feedback:after{
  content: '';
}
.dis_in{
  display: inline-block;
}
.ant-form-item-label{
  text-align: left;
}
.ant-input,.ant-select-selection{
  border-radius: 0!important;
}
