.ant-form-item{
  width: 50%;
  float: left;
}
.ant-form-item-required:before{
  content: '';
}
.ant-input-lg{
  width: 240px;
}
.ant-form-item-label{
  text-align: right;
}
.ant-btn-lg{
  margin: 40px 122%;
}
