.ant-tabs-bar{
  margin: 0;
}
.ant-tabs-tab{
  font-size: 18px;
  box-sizing: border-box;
  text-align: center;
}

.ant-tabs.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab-active{
  color: #335095;
  font-size: 18px;
  border-top: 3px solid #335095;
}
#pay_ment:first-child{margin-left: 0!important;}
